.App {
    text-align: center;
}

.App-header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: blue;
    border: 4px solid blue;
}

.App ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.App li {
    display: inline-block;
    margin: 20px;
}

.App a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
